@import 'src/ui/common/styles/colors.module';

.container {
  align-items: center;
  background-color: $mirage;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark.container {
  background-color: $mirage;
}

.logo {
  margin-bottom: 20px;
}

.signInButton {
  margin-top: 20px;
}
