@import 'src/ui/common/styles/colors.module';

.container {
  background-color: $port-gore;
}

.dark.container {
  background-color: $port-gore;
}

.logo {
  margin-bottom: 20px;
}

.signInButton {
  margin-top: 20px;
}
