@import 'src/ui/common/styles/colors.module';

.topNavigationLogout {
  align-items: center;
  background: $mirage-dark;
  border-radius: 25px;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 45px;
}

.topNavigationLogoutIcon {
  height: auto;
  width: 30px;
}
