@import 'src/ui/common/styles/colors.module';

.topNavigation {
  margin: 0 60px;
}

.layoutSection {
  background: radial-gradient(50.6% 50% at 50% 0%, $rhino-light, $mirage);
  display: flex;
  flex: 1;
  flex-direction: column;
}

.layoutMain {
  display: flex;
  flex-direction: row;
}
