$black: #000;
$anakiwa: #8cc0ff;
$aquamarine: #4ffba9;
$cornflower-light: #5676f9;
$cornflower-blue: #564ffb;
$dodger-blue: #5981ff;
$dodger-blue-light: #4f98fb;
$dove-gray: #656565;
$malibu: #7b9cff;
$malibu-light: #4fe8fb;
$malibu-darker: #6598ff;
$malibu-shadow: rgb(89 154 251 / 30%);
$mirage: #1d243e;
$golden-fizz: #f0fb4f;
$mirage-dark: #181e34;
$mint-green: #85ff9c;
$mint-green-shadow: rgb(128 244 150);
$mint-green-shadow-0: rgb(123 234 145 / 0%);
$port-gore: #1d243f;
$port-gore-lighter: #202742;
$polo-blue: #8594cd;
$cloud-burst: #242c4c;
$rhino: #273052;
$rhino-light: #2c375e;
$waikawa-gray-dark: #374676ad;
$riptide: #84ecba;
$riptide-shadow: rgb(89 251 183 / 30%);
$turquoise: #57e3a8;
$turquoise-dark: #55ea9f;
$san-juan: #374676;
$sunset-orange: #fb4f4f;
$sunset-orange-shadow: rgb(248 69 74);
$sunset-orange-shadow-0: rgb(248 69 74 / 0%);
$sunset-orange-light: #ff4a4a;
$salmon: #ff7c7c;
$bittersweet: #ff6565;
$carnation: #f95656;
$salmon-shadow: rgb(251 89 90 / 30%);
$east-bay: #46568c;
$waikawa-gray: #5366a8;
$ship-cove: #7f85c0;
$white: #ffff;
$alto: #e0e0e0;
$heliotrope-darker: #a956f9;
$heliotrope-dark: #bd65ff;
$heliotrope: #d07cff;
$heliotrope-shadow: rgb(199 120 244 / 30%);
$box-shadow-light: rgb(0 0 0 / 5%);
$box-shadow: rgb(0 0 0 / 15%);
$box-shadow-dark: rgb(0 0 0 / 30%);
