$anakiwa: #8cc0ff;
$cornflower-blue: #564ffb;
$dodger-blue: #5981ff;
$mirage: #1d243e;
$mirage-dark: #181e34;
$port-gore: #1d243f;
$port-gore-lighter: #202742;
$rhino: #273052;
$waikawa-gray-dark: #374676ad;
$san-juan: #374676;
$east-bay: #46568c;
$waikawa-gray: #5366a8;
$white: #ffff;
$box-shadow-light: rgb(0 0 0 / 5%);
$box-shadow: rgb(0 0 0 / 15%);
$box-shadow-dark: rgb(0 0 0 / 30%);
