@import 'src/ui/common/styles/colors.module';

.listRow {
  align-items: center;
  background: $cloud-burst;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 60px;
  margin-bottom: 1px;
  outline: none;
  padding: 10px;
  width: 100%;

  &:hover {
    background: $east-bay;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
