@import 'ui/common/styles/colors.module';

.clientsHeader {
  margin-bottom: 20px;
  padding-left: 10px;
}

.row {
  margin-bottom: 1px;
}

.rowId {
  display: flex;
  flex: 0.1;
  justify-content: center;
}

.rowEmail {
  display: flex;
  flex: 0.5;
  justify-content: center;
}

.rowName {
  display: flex;
  flex: 1;
  justify-content: center;
}
